target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/sbt.xml
.idea/scala_compiler.xml
/.idea/GrepConsole.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.metals/

### Mac OS ###
.DS_Store

### VSC & metals ###
.bloop
.metals
.vscode
metals.sbt

### Scala ###
.bsp

### This project ###
/dump
/logs

# Ignore build.sbt of the sequencer project, which was embedded with git subtree, to maintain the original project structure in case it is separated back to a standalone project.
sequencer/build.sbt
sequencer/project/
sequencer/target/
